<div class="row pt-3">
  <h1 class="col col-md-12">Neuen Todo</h1>
  <div class="card mb-3">
    <div class="card-body">
      <div class="row">
        <div class="col-md-8">
          <input
            [(ngModel)]="task.title"
            type="text"
            class="form-control"
            id="title"
            placeholder="Enter Title"
          />
        </div>
        <div class="col-md-4">
          <input
            [ngModel]="task.dueDate | date : 'yyyy-MM-dd'"
            (change)="onChange($event)"
            type="date"
            class="form-control"
            id="due-date"
          />
        </div>
      </div>
      <textarea
        [(ngModel)]="task.description"
        class="form-control mt-3"
        id="description"
        rows="3"
        placeholder="Enter Description (optional)"
      ></textarea>
      <div class="d-flex justify-content-between mt-3">
        <div class="form-check">
          <input
            [(ngModel)]="task.isCompleted"
            type="checkbox"
            class="form-check-input"
            id="complete"
          />
          <label class="form-check-label" for="complete">Complete</label>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-cols-2">
    <button
      (click)="updateTask(task)"
      type="button"
      class="button col-md-6"
      id="add-card"
    >
      Update
    </button>
    <button
      (click)="cancel()"
      type="button"
      class="button col-md-6"
      id="add-card"
    >
      Zurück
    </button>
  </div>
</div>
