<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-md-12 intro-section">
      <div class="intro-content-wrapper">
        <h1 class="intro-title">Welcome to website !</h1>
        <p class="intro-text">
          Bitte loggen Sie sich ein, um fortzufahren. Sie haben noch keinen
          Zugang? Registrieren Sie sich jetzt kostenlos!
        </p>
        <a href="/login" class="btn btn-read-more">Login</a>
        <a href="/register" class="btn btn-read-more">Registration</a>
      </div>
    </div>
  </div>
</div>
