h1 > a {
  text-decoration: none;
  color: #fff !important;
}

.intro-section {
  background-image: url(/assets/bg1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 75px 95px;
  min-height: 90vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  color: #ebefeff7;
}
@media (max-width: 991px) {
  .intro-section {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 767px) {
  .intro-section {
    padding: 28px;
  }
}
@media (max-width: 575px) {
  .intro-section {
    min-height: auto;
  }
}

.intro-content-wrapper {
  width: 410px;
  max-width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}
.intro-content-wrapper .intro-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 17px;
}
.intro-content-wrapper .intro-text {
  font-size: 19px;
  line-height: 1.37;
  font-weight: bold;
}
.intro-content-wrapper .btn-read-more {
  background-color: #fff;
  padding: 13px 30px;
  margin-right: 10px;
  border-radius: 0;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}
.intro-content-wrapper .btn-read-more:hover {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}
